[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "shinybrms"]
	path = shinybrms
	url = https://github.com/fweber144/shinybrms
	shallow = true
	registered = true
